<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ManilaLinkUp"
        android:usesCleartextTraffic="true">
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
        <meta-data android:name="com.facebook.sdk.ClientToken" android:value="@string/facebook_client_token"/>

        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.EditSeekerInformationActivity"
            android:exported="false" />
        <activity
            android:name=".activities.SeekerNotificationsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.SeekerJobPreferences"
            android:exported="false" />
        <activity
            android:name=".activities.AppliedJobPostActivity"
            android:exported="false" />
        <activity
            android:name=".activities.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.App.Starting">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.ChatThreadSeeker"
            android:exported="false" />
        <activity
            android:name=".activities.EmployerViewAllRatings"
            android:exported="false" />
        <activity
            android:name=".activities.AppliedSeekerActivity"
            android:exported="false" />
        <activity
            android:name=".activities.EmployerViewArchivedJobs"
            android:exported="false" />
        <activity
            android:name=".activities.EmployerViewJobPost"
            android:exported="false" />
        <activity
            android:name=".activities.EmployerListOfApplicants"
            android:exported="false" />
        <activity
            android:name=".activities.ApplicantProfileActivity"
            android:exported="false" />
        <activity
            android:name=".activities.EmployerProfileActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ChatThreadEmployer"
            android:exported="false" />
        <activity
            android:name=".activities.ChatEmployerActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ChatSeekerActivity"
            android:exported="false" />
        <activity
            android:name=".activities.EditEmployerProfileActivity"
            android:exported="false" />
        <activity
            android:name=".activities.EmployerNotificationsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.EmployerAddJobActivity"
            android:exported="false" />
        <activity
            android:name=".activities.EmployerDashboard"
            android:exported="false" />
        <activity
            android:name=".activities.SeekerDashboardActivity"
            android:exported="false"
            android:parentActivityName=".activities.MainActivity" />
        <activity
            android:name=".activities.SeekerJobPostActivity"
            android:exported="false"
            android:label="Employer Name" />
        <activity
            android:name=".activities.AllSetActivity"
            android:exported="false"
            android:parentActivityName=".activities.EditSeekerProfileActivity" />
        <activity
            android:name=".activities.EditSeekerProfileActivity"
            android:exported="false"
            android:label="Profile Seeker"
            android:parentActivityName=".activities.LoginActivity" />
        <activity
            android:name=".activities.EmployerSignUp"
            android:exported="false"
            android:label="Employer Sign Up"
            android:parentActivityName=".activities.GetStarted" />
        <activity
            android:name=".activities.GetStarted"
            android:exported="false"
            android:label="Lets Get Started"
            android:parentActivityName=".activities.SignUpActivity" />
        <activity
            android:name=".activities.SignUpActivity"
            android:exported="false"
            android:label="Sign Up"
            android:parentActivityName=".activities.MainActivity" />
        <activity
            android:name=".activities.LoginActivity"
            android:exported="false"
            android:label="Login to Manila LinkUp"
            android:parentActivityName=".activities.MainActivity" />
        <activity
            android:name=".activities.ForgotPasswordActivity"
            android:exported="false"
            android:label="Forgot Password"
            android:parentActivityName=".activities.LoginActivity" />
        <activity
            android:name=".activities.ResetPasswordActivity"
            android:exported="false"
            android:label="Reset Password" />
        <activity
            android:name=".activities.SeekerProfileActivity"
            android:exported="false"
            android:label="Seeker Profile"
            android:parentActivityName=".activities.SeekerDashboardActivity" />
        <activity
            android:name=".activities.SeekerSettingsActivity"
            android:exported="false"
            android:label="Seeker Settings"
            android:parentActivityName=".activities.SeekerProfileActivity" />
        <activity
            android:name=".activities.EmployerSettingsActivity"
            android:exported="false"
            android:label="Employer Settings"
            android:parentActivityName=".activities.EmployerProfileActivity" />
        <activity
            android:name=".activities.SeekerVerifyIdentityActivity"
            android:exported="false"
            android:label="Verify Identity"
            android:parentActivityName=".activities.SeekerSettingsActivity" />
        <activity
            android:name=".activities.SeekerPrivacyControlsActivity"
            android:exported="false"
            android:label="Privacy Controls"
            android:parentActivityName=".activities.SeekerSettingsActivity" />
        <activity
            android:name=".activities.TermsOfServiceActivity"
            android:allowEmbedded="false"
            android:label="Terms of Service" />
        <activity
            android:name=".activities.SeekerDocumentVaultActivity"
            android:exported="false"
            android:label="Document Vault"
            android:parentActivityName=".activities.SeekerSettingsActivity" />
        <activity
            android:name=".activities.AboutActivity"
            android:exported="false"
            android:label="About" />
        <activity
            android:name=".activities.HelpCenterActivity"
            android:exported="false"
            android:label="Help Center" />
        <activity
            android:name=".activities.EmployerBusinessVerificationActivity"
            android:exported="false"
            android:label="Business Verification"
            android:parentActivityName=".activities.EmployerSettingsActivity" />
        <activity
            android:name=".activities.EmployerPrivacyActivity"
            android:exported="false"
            android:label="Privacy Controls"
            android:parentActivityName=".activities.EmployerSettingsActivity" />
        <activity
            android:name=".activities.MainActivity"
            android:exported="true" />
        <activity
            android:name=".activities.SubmitRatingActivity"
            android:exported="false" />
        <activity
            android:name=".activities.SeekerCompletedJobsActivity"
            android:exported="false"
            android:label="Completed Jobs"
            android:parentActivityName=".activities.SeekerProfileActivity" />

        <service
            android:name=".services.MLUFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>