<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ManilaLinkUp"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".EmployerViewAllRatings"
            android:exported="true" />
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.App.Starting">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ChatThreadEmployer"
            android:exported="true" />
        <activity
            android:name=".SaveSeekerActivity"
            android:exported="true" />
        <activity
            android:name=".EmployerViewArchivedJobs"
            android:exported="true" />
        <activity
            android:name=".EmployerViewJobPost"
            android:exported="true" />
        <activity
            android:name=".EmployerListOfApplicants"
            android:exported="true" />
        <activity
            android:name=".EmployerProfileActivity"
            android:exported="true" />
        <activity
            android:name=".ChatEmployerActivity"
            android:exported="true" />
        <activity
            android:name=".ChatSeekerActivity"
            android:exported="true" />
        <activity
            android:name=".EditEmployerProfileActivity"
            android:exported="true" />
        <activity
            android:name=".EmployerNotificationsActivity"
            android:exported="true" />
        <activity
            android:name=".EmployerAddJobActivity"
            android:exported="false" />
        <activity
            android:name=".EmployerDashboard"
            android:exported="false" />
        <activity
            android:name=".SeekerDashboardActivity"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SeekerJobPostActivity"
            android:exported="true"
            android:label="Employer Name" />
        <activity
            android:name=".AllSetActivity"
            android:exported="true"
            android:parentActivityName=".EditSeekerProfileActivity" />
        <activity
            android:name=".EditSeekerProfileActivity"
            android:exported="true"
            android:label="Profile Seeker"
            android:parentActivityName=".LoginActivity" />
        <activity
            android:name=".EmployerSignUp"
            android:exported="true"
            android:label="Employer Sign Up"
            android:parentActivityName=".GetStarted" />
        <activity
            android:name=".GetStarted"
            android:exported="true"
            android:label="Lets Get Started"
            android:parentActivityName=".SignUpActivity" />
        <activity
            android:name=".SignUpActivity"
            android:exported="true"
            android:label="Sign Up"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:label="Login to Manila LinkUp"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SeekerProfileActivity"
            android:exported="true"
            android:label="Seeker Profile"
            android:parentActivityName=".SeekerDashboardActivity" />
        <activity
            android:name=".SeekerSettingsActivity"
            android:exported="true"
            android:label="Seeker Settings"
            android:parentActivityName=".SeekerProfileActivity" />
        <activity
            android:name=".EmployerSettingsActivity"
            android:exported="true"
            android:label="Employer Settings"
            android:parentActivityName=".EmployerProfileActivity" />
        <activity
            android:name=".SeekerVerifyIdentityActivity"
            android:exported="true"
            android:label="Verify Identity"
            android:parentActivityName=".SeekerSettingsActivity" />
        <activity
            android:name=".SeekerPrivacyControlsActivity"
            android:exported="true"
            android:label="Privacy Controls"
            android:parentActivityName=".SeekerSettingsActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true"></activity>
    </application>

</manifest>